.liked-cats__container {
    max-width: 1316px;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 225px 225px 225px 225px 225px;
    padding-bottom: 52px;
}
